{%extends 'base.html'%}

{%block title%} Students {%endblock%}

{% block content%}
    <div class="container">
        
        {%for student in students%}
            <div class="student">
               
                <p><b>#{{ student.id}}</b></p>
                <b> 
                    <p class="name"> 
                        
                          {{ student.firstname}} {{student.lastname}}
                       
                    </p>
                </b>
                <p>{{student.email}}</p>
                <p>{{student.age}} years old.</p>
                <p>Joined: {{student.created_at}}</p>
                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ student.bio }}</p>
                </div>
                <a href="{{url_for('update', student_id=student.id)}}">edit</a>
                
                <form method="POST"
                        action="{{url_for('delete',student_id=student.id)}}">
                    <input type="submit", value="Delete Student", onclick="return confirm('are you sure you want to delet this students entry')">
                </form>
            </div>
        {%endfor%}
    </div>
{%endblock%}