{%extends "base.html"%}

{%block content%}   
<h1 class="title"> Students </h1>
    <div class="content">
        {%for student in students%}
            <div class="student">
                <p><b>No:{{ student.id }}</b></p>
                <b>
                    <p class="name">
                        <a href="{{ url_for('student', id=student.id) }}">
                         {{ student.firstname }} {{ student.lastname }}
                        </a>
                    </p>
                </b>
                <p><b>Email:</b> {{ student.email }} </p>
                <p><b>Age:</b>{{ student.age }}  years old.</p>
                <p>Joined:{{ student.created_at }} </p>
                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ student.bio }}  </p>
                </div>
                <hr>
                <div class="btn-space" >
                    
                    <a class="btn" href="{{ url_for('edit', id=student.id) }}">Edit</a>
                    
                    <!-- a web form that submits a POST request to the delete() view function. You pass student.id as an argument for the student_id parameter to specify the student entry to be deleted.
                         You use the confirm() method function available in web browsers to display a confirmation message before submitting the request. -->
                    <form method="POST"
                            action="{{ url_for('delete', id=student.id) }}">
                        <input class="btn" type="submit" value="Delete Student"
                            onclick="return confirm('Are you sure you want to delete this entry?')">
                    </form>
                </div>
                
            </div>
        {%endfor%}
    </div> 
{%endblock%}