{%extends 'base.html'%}

{%block title%} about {%endblock%}

{% block content %}
<div class="container">
    <h1> log in </h1> 
    <form action="" method="Post, Get">
        <label for="email or username">email or username</label><br>
        <input type="text", name="firstname",placeholder="enter email or username"> 
        </input>
        </p>
    
        
        <p>
            <label for="password">password</label><br>
            <input type="text,numbers", name="password",placeholder="enter password">
            </input> 
        </p>
    </form>
</div>

{%endblock%}