{%extends "base.html"%}

{%block content%}   
<h1 class="title"> Student  </h1>
    <div class="content">
        
            <div class="student">
                <p><b>No:{{ student.id }}</b></p>
                <b>
                    <p class="name">
                        <a href="">
                         {{ student.firstname }} {{ student.lastname }}
                        </a>
                    </p>
                </b>
                <p><b>Email:</b> {{ student.email }} </p>
                <p><b>Age:</b>{{ student.age }}  years old.</p>
                <p>Joined:{{ student.created_at }} </p>
                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ student.bio }}  </p>
                </div>
            </div>
       
    </div> 
{%endblock%}