{%extends "base.html"%}

{%block content%}  

<h1 class="title"> <b>
    <p class="name">
        <a href="">
         {{ student.firstname }} {{ student.lastname }}
        </a>
    </p>
</b> </h1>
    <div class="content">
            <div class="student">
                <p><b>No:{{ student.id }}</b></p>
                <p><b>Email:</b> {{ student.email }} </p>
                <p><b>Age:</b>{{ student.age }}  years old.</p>
                <p>Joined:{{ student.created_at }} </p>
                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ student.bio }}  </p>
                </div>
                <div>
                    <a href="{{ url_for('Update', student_id=student.id) }}">Update</a>
                </div>

                <hr>

                <div>
                    <form method="POST"
                action="{{ url_for('Delete', student_id=student.id) }}">
            <input type="submit" value="Delete Student"
                onclick="return confirm('Are you sure you want to delete this entry?')">
        </form>
                </div>

            </div>

    </div> 
{%endblock%}